.version.animals /* version checker */
{
	color: #000019;
	background-color: #7A4AF1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1150px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u1349
{
	z-index: 2;
	min-height: 1216px;
	padding-bottom: 20px;
}

#u1349_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1360
{
	z-index: 3;
	width: 1160px;
	margin-right: -10000px;
	margin-top: 36px;
}

#u1349-bw
{
	z-index: 2;
	min-height: 1216px;
	margin-top: -36px;
}

#menuu1289
{
	z-index: 5;
	width: 960px;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1339
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
}

#u1340
{
	width: 118px;
	padding-bottom: 34px;
}

#u1340:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1340:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1342-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1340:hover #u1342-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1340:active #u1342-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1325
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 120px;
}

#u1326
{
	width: 118px;
	padding-bottom: 34px;
}

#u1340.MuseMenuActive,#u1326:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1326:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1329-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1340.MuseMenuActive #u1342-4,#u1326:hover #u1329-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1326:active #u1329-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1297
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 240px;
}

#u1298
{
	width: 118px;
	padding-bottom: 34px;
}

#u1326.MuseMenuActive,#u1298:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1298:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1299-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1326.MuseMenuActive #u1329-4,#u1298:hover #u1299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1298:active #u1299-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1290
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 360px;
}

#u1291
{
	width: 118px;
	padding-bottom: 34px;
}

#u1298.MuseMenuActive,#u1291:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1291:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1292-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1298.MuseMenuActive #u1299-4,#u1291:hover #u1292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1291:active #u1292-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1304
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 480px;
}

#u1305
{
	width: 118px;
	padding-bottom: 34px;
}

#u1291.MuseMenuActive,#u1305:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1305:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1307-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1291.MuseMenuActive #u1292-4,#u1305:hover #u1307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1305:active #u1307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1318
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 600px;
}

#u1319
{
	width: 118px;
	padding-bottom: 34px;
}

#u1305.MuseMenuActive,#u1319:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1319:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1319.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1322-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1305.MuseMenuActive #u1307-4,#u1319:hover #u1322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1319:active #u1322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1319.MuseMenuActive #u1322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1332
{
	width: 119px;
	min-height: 51px;
	margin-right: -10000px;
	left: 720px;
}

#u1335
{
	width: 119px;
	padding-bottom: 34px;
}

#u1335:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1335:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1338-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1335:hover #u1338-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1335:active #u1338-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1311
{
	width: 119px;
	min-height: 51px;
	margin-right: -10000px;
	left: 841px;
}

#u1312
{
	width: 119px;
	padding-bottom: 34px;
}

#u1335.MuseMenuActive,#u1312:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1312:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1312.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1314-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1335.MuseMenuActive #u1338-4,#u1312:hover #u1314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1312:active #u1314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1312.MuseMenuActive #u1314-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1236-8
{
	z-index: 54;
	width: 139px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 693px;
}

#u1235-8
{
	z-index: 62;
	width: 139px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 285px;
}

#u1234-8
{
	z-index: 70;
	width: 139px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 291px;
}

#u1233-8
{
	z-index: 78;
	width: 139px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 699px;
}

#u1276-10
{
	z-index: 86;
	width: 139px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 888px;
	left: 699px;
}

#u1275-8
{
	z-index: 96;
	width: 112px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 888px;
	left: 318px;
}

#u1246
{
	z-index: 104;
	width: 310px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 118px;
}

#u1367
{
	z-index: 110;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1249
{
	z-index: 105;
	width: 310px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 526px;
}

#u1373
{
	z-index: 112;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1247
{
	z-index: 106;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	left: 124px;
}

#u1379
{
	z-index: 114;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1248
{
	z-index: 107;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	left: 532px;
}

#u1385
{
	z-index: 116;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1277
{
	z-index: 108;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 826px;
	left: 124px;
}

#u1391
{
	z-index: 118;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1278
{
	z-index: 109;
	width: 310px;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 826px;
	left: 532px;
}

#u1397
{
	z-index: 120;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1357-4
{
	z-index: 122;
	width: 287px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 1134px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

