.version.floral /* version checker */
{
	color: #00000D;
	background-color: #5208E2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 904px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 16px;
	width: 0.01px;
}

#pu998
{
	width: 0.01px;
	margin-left: -100px;
}

#u998_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1002
{
	z-index: 3;
	width: 1160px;
	margin-bottom: -52px;
	margin-right: -10000px;
	margin-top: 36px;
}

#u998,#u998-bw
{
	z-index: 2;
	min-height: 887px;
}

#menuu1010
{
	z-index: 5;
	width: 960px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 100px;
}

#u1032
{
	width: 135px;
	min-height: 51px;
	margin-right: -10000px;
}

#u1033
{
	width: 135px;
	padding-bottom: 34px;
}

#u1033:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1033:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1036-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1033:hover #u1036-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1033:active #u1036-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1046
{
	width: 135px;
	min-height: 51px;
	margin-right: -10000px;
	left: 137px;
}

#u1049
{
	width: 135px;
	padding-bottom: 34px;
}

#u1033.MuseMenuActive,#u1049:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1049:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1051-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1033.MuseMenuActive #u1036-4,#u1049:hover #u1051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1049:active #u1051-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1018
{
	width: 135px;
	min-height: 51px;
	margin-right: -10000px;
	left: 274px;
}

#u1021
{
	width: 135px;
	padding-bottom: 34px;
}

#u1049.MuseMenuActive,#u1021:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1021:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1022-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1049.MuseMenuActive #u1051-4,#u1021:hover #u1022-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1021:active #u1022-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1011
{
	width: 135px;
	min-height: 51px;
	margin-right: -10000px;
	left: 411px;
}

#u1014
{
	width: 135px;
	padding-bottom: 34px;
}

#u1021.MuseMenuActive,#u1014:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1014:active
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1014.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u1017-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1021.MuseMenuActive #u1022-4,#u1014:hover #u1017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1014:active #u1017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1014.MuseMenuActive #u1017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 135px;
	margin: 0px -10000px 0px 0px;
}

#u1053
{
	width: 136px;
	min-height: 51px;
	margin-right: -10000px;
	left: 548px;
}

#u1054
{
	width: 136px;
	padding-bottom: 34px;
}

#u1054:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u1054:active
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u1056-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1054:hover #u1056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u1054:active #u1056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u1039
{
	width: 136px;
	min-height: 51px;
	margin-right: -10000px;
	left: 686px;
}

#u1040
{
	width: 136px;
	padding-bottom: 34px;
}

#u1054.MuseMenuActive,#u1040:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u1040:active
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u1043-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1054.MuseMenuActive #u1056-4,#u1040:hover #u1043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u1040:active #u1043-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u1025
{
	width: 136px;
	min-height: 51px;
	margin-right: -10000px;
	left: 824px;
}

#u1026
{
	width: 136px;
	padding-bottom: 34px;
}

#u1040.MuseMenuActive,#u1026:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u1026:active
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u1026.MuseMenuActive
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u1028-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1040.MuseMenuActive #u1043-4,#u1026:hover #u1028-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u1026:active #u1028-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u1026.MuseMenuActive #u1028-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u1153-10
{
	z-index: 48;
	width: 112px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 412px;
}

#u1154-8
{
	z-index: 58;
	width: 146px;
	min-height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 786px;
}

#u1155-8
{
	z-index: 66;
	width: 139px;
	min-height: 144px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 391px;
}

#u1156-8
{
	z-index: 74;
	width: 112px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 562px;
	left: 826px;
}

#u408
{
	z-index: 82;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 218px;
}

#u906
{
	z-index: 86;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u409
{
	z-index: 83;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 626px;
}

#u912
{
	z-index: 88;
	width: 158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u410
{
	z-index: 84;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 224px;
}

#u1069
{
	z-index: 90;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u411
{
	z-index: 85;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 511px;
	left: 632px;
}

#u1105
{
	z-index: 92;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1158-4
{
	z-index: 94;
	width: 287px;
	min-height: 16px;
	margin-left: 20px;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

