.version.home /* version checker */
{
	color: #00000D;
	background-color: #604548;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 803px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 48px;
	margin-left: auto;
	margin-right: auto;
}

#u189
{
	z-index: 2;
	min-height: 883px;
	padding-bottom: 4px;
}

#u189_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1882-4
{
	z-index: 118;
	width: 287px;
	min-height: 16px;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 867px;
	left: 120px;
}

#u189-bw
{
	z-index: 2;
	min-height: 883px;
	margin-top: -36px;
}

#slideshowu1471
{
	z-index: 3;
	width: 0.01px;
	height: 841px;
	margin-right: -10000px;
	margin-top: -93px;
	left: 160px;
}

#u1472popup
{
	z-index: 4;
}

#u1472
{
	width: 628px;
	height: 841px;
}

#u1475
{
	z-index: 5;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1612
{
	z-index: 7;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1621
{
	z-index: 9;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1630
{
	z-index: 11;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1639
{
	z-index: 13;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1648
{
	z-index: 15;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1657
{
	z-index: 17;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1666
{
	z-index: 19;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1675
{
	z-index: 21;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1684
{
	z-index: 23;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1693
{
	z-index: 25;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1702
{
	z-index: 27;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1711
{
	z-index: 29;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1711_img
{
	padding: 170px 150px 171px;
}

#u1720
{
	z-index: 31;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1475_img,#u1612_img,#u1621_img,#u1630_img,#u1639_img,#u1657_img,#u1666_img,#u1684_img,#u1720_img
{
	padding: 171px 147px 170px 148px;
}

#u1729
{
	z-index: 33;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1738
{
	z-index: 35;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1747
{
	z-index: 37;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1756
{
	z-index: 39;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1765
{
	z-index: 41;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1774
{
	z-index: 43;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1783
{
	z-index: 45;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1792
{
	z-index: 47;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1801
{
	z-index: 49;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1810
{
	z-index: 51;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1819
{
	z-index: 53;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1828
{
	z-index: 55;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1837
{
	z-index: 57;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1765_img,#u1837_img
{
	padding: 171px 157px 170px 158px;
}

#u1846
{
	z-index: 59;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1855
{
	z-index: 61;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1648_img,#u1675_img,#u1693_img,#u1702_img,#u1729_img,#u1738_img,#u1747_img,#u1756_img,#u1774_img,#u1783_img,#u1792_img,#u1801_img,#u1810_img,#u1819_img,#u1828_img,#u1846_img,#u1855_img
{
	padding: 170px 121px 171px;
}

#u1864
{
	z-index: 63;
	width: 628px;
	height: 841px;
	margin-right: -10000px;
}

#u1864_img
{
	padding: 170px 147px 171px 148px;
}

#u121
{
	z-index: 65;
	width: 333px;
	margin-right: -10000px;
	margin-top: 61px;
	left: -100px;
}

#u2029
{
	z-index: 67;
	width: 333px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 727px;
}

#menuu1912
{
	z-index: 69;
	width: 960px;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u1955
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
}

#u1958
{
	width: 118px;
	padding-bottom: 34px;
}

#u1958:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1958:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1960-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1958:hover #u1960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1958:active #u1960-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1962
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 120px;
}

#u1965
{
	width: 118px;
	padding-bottom: 34px;
}

#u1958.MuseMenuActive,#u1965:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1965:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1968-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1958.MuseMenuActive #u1960-4,#u1965:hover #u1968-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1965:active #u1968-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1913
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 240px;
}

#u1914
{
	width: 118px;
	padding-bottom: 34px;
}

#u1965.MuseMenuActive,#u1914:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1914:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1916-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1965.MuseMenuActive #u1968-4,#u1914:hover #u1916-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1914:active #u1916-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1948
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 360px;
}

#u1949
{
	width: 118px;
	padding-bottom: 34px;
}

#u1914.MuseMenuActive,#u1949:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1949:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1950-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1914.MuseMenuActive #u1916-4,#u1949:hover #u1950-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1949:active #u1950-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1920
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 480px;
}

#u1921
{
	width: 118px;
	padding-bottom: 34px;
}

#u1949.MuseMenuActive,#u1921:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1921:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1923-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1949.MuseMenuActive #u1950-4,#u1921:hover #u1923-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1921:active #u1923-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1934
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 600px;
}

#u1937
{
	width: 118px;
	padding-bottom: 34px;
}

#u1921.MuseMenuActive,#u1937:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1937:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1937.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1939-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1921.MuseMenuActive #u1923-4,#u1937:hover #u1939-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1937:active #u1939-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1937.MuseMenuActive #u1939-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1941
{
	width: 119px;
	min-height: 51px;
	margin-right: -10000px;
	left: 720px;
}

#u1942
{
	width: 119px;
	padding-bottom: 34px;
}

#u1942:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1942:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1943-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1942:hover #u1943-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1942:active #u1943-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1927
{
	width: 119px;
	min-height: 51px;
	margin-right: -10000px;
	left: 841px;
}

#u1928
{
	width: 119px;
	padding-bottom: 34px;
}

#u1942.MuseMenuActive,#u1928:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1928:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1928.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1929-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1942.MuseMenuActive #u1943-4,#u1928:hover #u1929-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1928:active #u1929-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1928.MuseMenuActive #u1929-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1911-4
{
	z-index: 122;
	width: 503px;
	min-height: 61px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #000000;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 603px;
	left: 226px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

