#u998
{
	background-color: #000000;
}

#u998_align_to_page
{
	position: relative;
}

#u1002
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 10px rgba(255,255,255,0.65),0px 0px 10px rgba(255,255,255,0.65);
	background-color: transparent;
	position: relative;
}

#menuu1969
{
	-pie-box-shadow: 6px 6px 8px #59596E;
	box-shadow: 6px 6px 8px rgba(0,0,32,0.65);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #100D17;
	position: relative;
}

#menuu1969::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 0px 0px 3px rgba(16,27,204,0.86), inset 0px 0px 3px rgba(16,27,204,0.86);
}

#u2012,#u2015
{
	background-color: transparent;
	position: relative;
}

#u2015:hover
{
	background-color: #999999;
}

#u2015:active
{
	background-color: #6B6B6B;
}

#u2017-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2019,#u2022
{
	background-color: transparent;
	position: relative;
}

#u2015.MuseMenuActive,#u2022:hover
{
	background-color: #999999;
}

#u2022:active
{
	background-color: #6B6B6B;
}

#u2025-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1970,#u1971
{
	background-color: transparent;
	position: relative;
}

#u2022.MuseMenuActive,#u1971:hover
{
	background-color: #999999;
}

#u1971:active
{
	background-color: #6B6B6B;
}

#u1973-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2005,#u2006
{
	background-color: transparent;
	position: relative;
}

#u1971.MuseMenuActive,#u2006:hover
{
	background-color: #999999;
}

#u2006:active
{
	background-color: #6B6B6B;
}

#u2007-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1977,#u1978
{
	background-color: transparent;
	position: relative;
}

#u2006.MuseMenuActive,#u1978:hover
{
	background-color: #999999;
}

#u1978:active
{
	background-color: #6B6B6B;
}

#u1980-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1991,#u1994
{
	background-color: transparent;
	position: relative;
}

#u1978.MuseMenuActive,#u1994:hover
{
	background-color: #999999;
}

#u1994:active
{
	background-color: #6B6B6B;
}

#u1996-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1998,#u1999
{
	background-color: transparent;
	position: relative;
}

#u1994.MuseMenuActive,#u1999:hover
{
	background-color: #999999;
}

#u1999:active
{
	background-color: #6B6B6B;
}

#u2000-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1984,#u1985
{
	background-color: transparent;
	position: relative;
}

#u1999.MuseMenuActive,#u1985:hover
{
	background-color: #999999;
}

#u1985:active
{
	background-color: #6B6B6B;
}

#u1985.MuseMenuActive
{
	background-color: #999999;
}

#u1986-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1158-4
{
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
}

