#u189
{
	background-color: #000000;
}

#u189_align_to_page,#slideshowu1471
{
	position: relative;
}

#u1472
{
	position: absolute;
	background-color: transparent;
}

#u1475,#u1612,#u1621,#u1630,#u1639,#u1648,#u1657,#u1666,#u1675,#u1684,#u1693,#u1702,#u1711,#u1720,#u1729,#u1738,#u1747,#u1756,#u1765,#u1774,#u1783,#u1792,#u1801,#u1810,#u1819,#u1828,#u1837,#u1846,#u1855,#u1864
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u121,#u2029
{
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
}

#menuu1912
{
	-pie-box-shadow: 6px 6px 8px #59596E;
	box-shadow: 6px 6px 8px rgba(0,0,32,0.65);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #100D17;
	position: relative;
}

#menuu1912::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 0px 0px 3px rgba(16,27,204,0.86), inset 0px 0px 3px rgba(16,27,204,0.86);
}

#u1955,#u1958
{
	background-color: transparent;
	position: relative;
}

#u1958:hover
{
	background-color: #999999;
}

#u1958:active
{
	background-color: #6B6B6B;
}

#u1960-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1962,#u1965
{
	background-color: transparent;
	position: relative;
}

#u1958.MuseMenuActive,#u1965:hover
{
	background-color: #999999;
}

#u1965:active
{
	background-color: #6B6B6B;
}

#u1968-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1913,#u1914
{
	background-color: transparent;
	position: relative;
}

#u1965.MuseMenuActive,#u1914:hover
{
	background-color: #999999;
}

#u1914:active
{
	background-color: #6B6B6B;
}

#u1916-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1948,#u1949
{
	background-color: transparent;
	position: relative;
}

#u1914.MuseMenuActive,#u1949:hover
{
	background-color: #999999;
}

#u1949:active
{
	background-color: #6B6B6B;
}

#u1950-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1920,#u1921
{
	background-color: transparent;
	position: relative;
}

#u1949.MuseMenuActive,#u1921:hover
{
	background-color: #999999;
}

#u1921:active
{
	background-color: #6B6B6B;
}

#u1923-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1934,#u1937
{
	background-color: transparent;
	position: relative;
}

#u1921.MuseMenuActive,#u1937:hover
{
	background-color: #999999;
}

#u1937:active
{
	background-color: #6B6B6B;
}

#u1939-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1941,#u1942
{
	background-color: transparent;
	position: relative;
}

#u1937.MuseMenuActive,#u1942:hover
{
	background-color: #999999;
}

#u1942:active
{
	background-color: #6B6B6B;
}

#u1943-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1927,#u1928
{
	background-color: transparent;
	position: relative;
}

#u1942.MuseMenuActive,#u1928:hover
{
	background-color: #999999;
}

#u1928:active
{
	background-color: #6B6B6B;
}

#u1928.MuseMenuActive
{
	background-color: #999999;
}

#u1929-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

