.version.specialty /* version checker */
{
	color: #0000EA;
	background-color: #89A5F5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 901px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u998
{
	z-index: 2;
	min-height: 987px;
}

#u998_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1002
{
	z-index: 3;
	width: 1160px;
	margin-right: -10000px;
	margin-top: 36px;
}

#u998-bw
{
	z-index: 2;
	min-height: 987px;
	margin-top: -36px;
}

#menuu1969
{
	z-index: 5;
	width: 960px;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u2012
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
}

#u2015
{
	width: 118px;
	padding-bottom: 34px;
}

#u2015:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2015:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2017-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u2015:hover #u2017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u2015:active #u2017-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u2019
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 120px;
}

#u2022
{
	width: 118px;
	padding-bottom: 34px;
}

#u2015.MuseMenuActive,#u2022:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2022:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2025-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u2015.MuseMenuActive #u2017-4,#u2022:hover #u2025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u2022:active #u2025-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1970
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 240px;
}

#u1971
{
	width: 118px;
	padding-bottom: 34px;
}

#u2022.MuseMenuActive,#u1971:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1971:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1973-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u2022.MuseMenuActive #u2025-4,#u1971:hover #u1973-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1971:active #u1973-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u2005
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 360px;
}

#u2006
{
	width: 118px;
	padding-bottom: 34px;
}

#u1971.MuseMenuActive,#u2006:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2006:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u2007-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1971.MuseMenuActive #u1973-4,#u2006:hover #u2007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u2006:active #u2007-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1977
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 480px;
}

#u1978
{
	width: 118px;
	padding-bottom: 34px;
}

#u2006.MuseMenuActive,#u1978:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1978:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1980-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u2006.MuseMenuActive #u2007-4,#u1978:hover #u1980-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1978:active #u1980-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1991
{
	width: 118px;
	min-height: 51px;
	margin-right: -10000px;
	left: 600px;
}

#u1994
{
	width: 118px;
	padding-bottom: 34px;
}

#u1978.MuseMenuActive,#u1994:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1994:active
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1994.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px;
}

#u1996-4
{
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1978.MuseMenuActive #u1980-4,#u1994:hover #u1996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1994:active #u1996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1994.MuseMenuActive #u1996-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u1998
{
	width: 119px;
	min-height: 51px;
	margin-right: -10000px;
	left: 720px;
}

#u1999
{
	width: 119px;
	padding-bottom: 34px;
}

#u1999:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1999:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u2000-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1999:hover #u2000-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1999:active #u2000-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1984
{
	width: 119px;
	min-height: 51px;
	margin-right: -10000px;
	left: 841px;
}

#u1985
{
	width: 119px;
	padding-bottom: 34px;
}

#u1999.MuseMenuActive,#u1985:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1985:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1985.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1986-4
{
	width: 119px;
	min-height: 17px;
	margin-right: -10000px;
	top: 17px;
}

#u1999.MuseMenuActive #u2000-4,#u1985:hover #u1986-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1985:active #u1986-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1985.MuseMenuActive #u1986-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u1134-8
{
	z-index: 54;
	width: 112px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 720px;
}

#u1136-8
{
	z-index: 62;
	width: 112px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 186px;
	left: 312px;
}

#u1137-8
{
	z-index: 70;
	width: 112px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 318px;
}

#u1138-10
{
	z-index: 78;
	width: 139px;
	min-height: 123px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 699px;
}

#u454
{
	z-index: 88;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 118px;
}

#u972
{
	z-index: 92;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u455
{
	z-index: 89;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 526px;
}

#u990
{
	z-index: 94;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u456
{
	z-index: 90;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	left: 124px;
}

#u1093
{
	z-index: 98;
	width: 195px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u457
{
	z-index: 91;
	width: 310px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 475px;
	left: 532px;
}

#u1099
{
	z-index: 96;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1158-4
{
	z-index: 100;
	width: 287px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 911px;
	left: 25px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

